@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);

html {
	font-size:12px;
	font-family:Tahoma,Geneva,sans-serif;
}
body {
	line-height:20px;
	color: #ccc;
	}
a:link {
	text-decoration:underline;
}
a:visited {
	text-decoration:underline;
}
a:hover {
	text-decoration:none;
}
a:active {
	text-decoration:underline;
}
#logo {
	margin-left:auto;
	margin-right:auto;
}
#header {
	text-align:center;
	margin-top:0;
	margin-right:auto;
	margin-bottom:0;
	margin-left:auto;
	padding:0px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#ccc;	
	background-color:#141517;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#323437), to(#141517));
	background-image:-webkit-linear-gradient(#323437, #141517);
	background-image:-moz-linear-gradient(#323437, #141517);
	background-image:-ms-linear-gradient(#323437, #141517);
	background-image:-o-linear-gradient(#323437, #141517);
	background-image:linear-gradient(#323437, #141517)
}
#header .icons {
	margin-right:8px;
	margin-left:8px;
}
#header .icons:hover {
	opacity:0.7;
	-ms-filter:"alpha(opacity=70)";
	filter:alpha(opacity=70);
}
#header .strip {
	max-width:768px;
	text-align:center;
	margin-right:auto;
	margin-left:auto;
	padding-top:8px;
	padding-bottom:4px;
}
.flexslider {
	max-width:768px!important;
	margin-left:auto!important;
	margin-right:auto!important;
}
.banner-shadow{
	max-width:768px!important;
	margin-left:auto!important;
	margin-right:auto!important;
}
#welcome {
	margin-bottom:16px;
	margin-top:16px;
}
#i-text-blocks {
}
#i-text-blocks h2 {
	margin-top:5px;
	padding-top:5px;
}
#i-text-blocks .col-1 {
	max-width:351px;
}
#i-text-blocks .col-2 {
	max-width:351px;
}
#i-text-blocks .col-1:hover {
	background-image:none!important;
}
#i-text-blocks .col-2:hover {
	background-image:none!important;
}
#i-text-blocks img {
	padding-right:10px;
	padding-bottom:12px;
}
#i-big-text {
	padding-top:12px;
	padding-bottom:12px;
	border-top-width:1px;
	border-bottom-width:1px;
	border-top-style:solid;
	border-bottom-style:solid;
	border-top-color:#ccc;
	border-bottom-color:#ccc;
	font-size:14px;
	font-weight:bold;
	margin-top:8px;
	margin-bottom:8px;
	text-align:center;
	line-height:18px;
}
h1,h2,h3,h4,h5,h6 {
	font-family:'Yanone Kaffeesatz', Tahoma, Geneva, sans-serif;
	color:#FFFFFF;
	font-weight:normal;
	line-height:26px;
	margin-bottom: 6px;	padding-bottom: 6px;
	margin-top: 10px;
	padding-top: 10px;
}
h1 {
	font-size:34px;
}
h2 {
	font-size:32px;
}
h3 {
	font-size:28px;
}
h4 {
	font-size:26px;
}
h5 {
	font-size:24px;
}
h6 {
	font-size:20px;
}
#footer {
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	font-weight:normal;
	color:#FFF;
	line-height:20px;
	padding-top:20px;
	padding-right:0px;
	padding-bottom:20px;
	padding-left:0px;
	background-image:url(../images/footer-bg.png);
	background-repeat:repeat;
}
#footer .strip {
	max-width:768px;
	text-align:left;
	margin-right:auto;
	margin-left:auto;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:20px;
}
#footer .strip img {
	margin-right:10px;
}
#footer a {
	color:#FFF;
}
#footer a:link {
	color:#FFF;
	font-weight:normal;
}
#footer a:hover {
	color:#FFF;
	text-decoration:none;
}
#footer a:active {
	color: #FFF;
}

/* Add icon map next link */ 
.contentLink {
	background-image: url('../images/icon-map.png');
	background-repeat: no-repeat;
	background-position: left-center;
}


/*-------------------------------------------- Aboutus ------------------------------------------------*/
#aboutus {
}
#aboutus .col-1 {
	max-width:363px;
	margin-bottom:16px;
	margin-top:8px;
}
#aboutus .col-2 {
	max-width:363px;
	margin-bottom:16px;
	margin-top:8px;
}
#aboutus .col-1 img {
	padding-right:12px;
}
#aboutus .col-2 img {
	padding-right:12px;
}
#aboutus h5 {
	margin-top:0px;
	padding-top:0px;
	margin-bottom:3px;
	padding-bottom: 3px;
}
/*-------------------------------------------- / Aboutus ------------------------------------------------*/
/*-------------------------------------------- Services Overview ------------------------------------------------*/
#services-overview {
}
#services-overview .col-1 {
	max-width:363px;
	margin-bottom: 30px;		
}
#services-overview .col-2 {
	max-width:363px;
	
}
#services-overview .col-1 img {
	padding-right:12px;
	padding-bottom:12px;
}
#services-overview .col-2 img {
	padding-right:12px;
	padding-bottom:12px;
}
#services-overview h5 {
	margin-top:0px;
	padding-top:0px;
	margin-bottom:5px;
	padding-bottom: 5px;
}
/*-------------------------------------------- / Services Overview ------------------------------------------------*/
/*--------------------------------------------------------------------------------------------*/
.intro {
	font-style:italic;
}
.left-border {
	padding-left:12px;
	border-left-width:2px;
	border-left-style:solid;
	border-left-color:#666666;
}
.t-b-border {
	padding-top:12px;
	padding-bottom:12px;
	border-top-width:2px;
	border-bottom-width:2px;
	border-top-style:solid;
	border-bottom-style:solid;
	border-top-color:#666666;
	border-bottom-color:#666666;
}
.boxed {
	background-color:#1c1c1c;
	padding:10px;
}
.boxed-line-bg {
	background-image:url(../images/box-bg.png);
	padding-top:12px;
	padding-right:10px;
	padding-bottom:12px;
	padding-left:10px;
	border-top-width:1px;
	border-bottom-width:1px;
	border-top-style:solid;
	border-bottom-style:solid;
	border-top-color:#444444;
	border-bottom-color:#444444;
}
.wrapped {
	background-color: #1c1c1c;
	-moz-border-radius:6px 6px 6px 6px;
	-webkit-border-radius:6px 6px 6px 6px;
	-khtml-border-radius:6px 6px 6px 6px;
	border-radius:6px 6px 6px 6px;
	padding: 10px;
}
ul,ol {
	padding-left:18px;
}
ul.bullets {
	list-style-type:none;
	padding-left:0px;
}
ul.bullets li {
	background-image:url(../images/bullet.png);
	background-repeat:no-repeat;
	background-position:left 2px;
	padding-left: 20px;
}
/* -------------------------------------------------------------------------------------- UnOrdered Lists */
ul.arrow-1 {
	list-style-type:none;
	padding-left:0px;
}
ul.arrow-1 li {
	padding-left:15px;
	list-style-type:none;
	padding-top:3px;
	padding-bottom:3px;
	background-image:url(../images/arrow-1.png);
	background-repeat:no-repeat;
	background-position:left center;
	margin-right:5px;
}
ul.arrow-2 {
	list-style-type:none;
	padding-left:0px;
}
ul.arrow-2 li {
	padding-left:20px;
	list-style-type:none;
	padding-top:3px;
	padding-bottom:3px;
	background-image:url(../images/arrow-2.png);
	background-repeat:no-repeat;
	background-position:left center;
	margin-right:5px;
}
ul.check {
	list-style-type:none;
	padding-left:0px;
}
ul.check li {
	padding-left:30px;
	list-style-type:none;
	padding-top:3px;
	padding-bottom:3px;
	background-image:url(../images/check.png);
	background-repeat:no-repeat;
	background-position:left center;
	margin-right:5px;
}
ul.cross {
	list-style-type:none;
	padding-left:0px;
}
ul.cross li {
	padding-left:30px;
	list-style-type:none;
	padding-top:3px;
	padding-bottom:3px;
	background-image:url(../images/cross.png);
	background-repeat:no-repeat;
	background-position:left center;
	margin-right:5px;
}
ul.help {
	list-style-type:none;
	padding-left:0px;
}
ul.help li {
	padding-left:30px;
	list-style-type:none;
	padding-top:3px;
	padding-bottom:3px;
	background-image:url(../images/help.png);
	background-repeat:no-repeat;
	background-position:left center;
	margin-right: 5px;
}
/* -------------------------------------------------------------------------------------- Warning Boxes Starts */
p.warning {
	background-image: url(../images/icon-warning.png);
	background-repeat: no-repeat;
	background-position: 10px 6px;
	color:#000;
	border:1px solid #e5de73;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#fefac8;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 8px;
	padding-bottom: 8px;
}
p.question {
	background:url(../images/icon-question.png);
	background-repeat: no-repeat;
	background-position: 10px 6px;
	color:#000;
	border:1px solid #5d96cb;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#7fb3e4;
	padding-top: 8px;
	padding-right: 50px;
	padding-bottom: 8px;
	padding-left: 50px;
}
p.information {
	background:url(../images/icon-information.png);
	background-repeat: no-repeat;
	background-position: 10px 6px;
	color:#000;
	border:1px solid #3ca731;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#bedeb2;
	padding-top: 8px;
	padding-right: 50px;
	padding-bottom: 8px;
	padding-left: 50px;
}
p.error {
	background:url(../images/icon-error.png);
	background-repeat: no-repeat;
	background-position: 10px 6px;
	color:#000;
	border:1px solid #bb726d;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#fac7ad;
	padding-top: 8px;
	padding-right: 50px;
	padding-bottom: 8px;
	padding-left: 50px;
}
/* -------------------------------------------------------------------------------------- Warning Boxes Ends */
.nav-glyphish-example .ui-btn .ui-btn-inner {
	padding-top:40px !important;
}
.nav-glyphish-example .ui-btn .ui-icon {
	width:30px!important;
	height:30px!important;
	margin-left:-15px !important;
	box-shadow:none!important;
	-moz-box-shadow:none!important;
	-webkit-box-shadow:none!important;
	-webkit-border-radius:0 !important;
	border-radius:0 !important;
}
.f-blog .ui-icon {
	background:url(../images/blog.png) 50% 50% no-repeat;
}
.f-news .ui-icon {
	background:url(../images/newspaper.png) 50% 50% no-repeat;
}
.f-testimonials .ui-icon {
	background:url(../images/testimonials.png) 50% 50% no-repeat;
}
.f-location .ui-icon {
	background: url(../images/location.png) 50% 50% no-repeat;
}
/* -------------------------------------------------------------------------------------- Portfolio Page Starts*/
#Gallery {
	list-style:none;
	padding:0;
	margin:0;
}
.gallery {
	list-style:none;
	padding:0;
	margin:0;
}
.gallery:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}
.gallery li {
	float:left;
	width:33.33333333%;
}
.gallery li a {
	display:block;
	margin:3px;
	border:1px solid #3c3c3c;
}
.gallery li img {
	display:block;
	width:100%;
}
#Gallery .ui-content {
	overflow:auto;
}
#Gallery1 .ui-content {
	overflow:auto;
}
#Gallery2 .ui-content {
	overflow:auto;
}
#Gallery2 .ui-content {
	overflow:auto;
}
#Gallery3 .ui-content {
	overflow:auto;
}
#Gallery4 .ui-content {
	overflow:auto;
}
#Gallery5 .ui-content {
	overflow:auto;
}
#Gallery6 .ui-content {
	overflow:auto;
}
#Gallery7 .ui-content {
	overflow:auto;
}
#Gallery8 .ui-content {
	overflow:auto;
}
#Gallery9 .ui-content {
	overflow:auto;
}
#Gallery10 .ui-content {
	overflow: auto;
}
/* For inline examples only */
#PhotoSwipeTarget {
	width:100%;
	height:200px;
}
#Indicators {
	text-align:center;
	margin-top:20px;
}
#Indicators span {
	display:inline-block;
	height:10px;
	width:10px;
	margin:0 10px 0 0;
	padding:0;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	background:#c5c5c5;
	overflow:hidden;
}
#Indicators span.current {
	background: #EEBF02;
}
/* -------------------------------------------------------------------------------------- Portfolio Page Ends*/
.images {
	padding-right:20px;
	padding-bottom:20px;
	float: left;
}
/*-------------------------------------------- Gallery ------------------------------------------------*/
#gallery {
}
#gallery .col-1 {
	margin-bottom:16px;
	margin-top:8px;
}
#gallery .col-2 {
	margin-bottom:16px;
	margin-top:8px;
}
#gallery .col-1 img {
}
#gallery .col-2 img {
}
#gallery h5 {
	margin-top:0px;
	padding-top:0px;
	margin-bottom:3px;
	padding-bottom: 3px;
}
/*-------------------------------------------- / Gallery ------------------------------------------------*/
/*-------------------------------------------- Video Gallery ------------------------------------------------*/
#videogallery {
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#videogallery .col-1 {
	margin-bottom:16px;
	margin-top:8px;
}
#videogallery .col-2 {
	margin-bottom:16px;
	margin-top:8px;
}
#videogallery .col-1 img {
	padding-right:12px;
}
#videogallery .col-2 img {
	padding-right:12px;
}
#videogallery h5 {
	margin-top:0px;
	padding-top:0px;
	margin-bottom:3px;
	padding-bottom: 3px;
}
/*-------------------------------------------- / Video Gallery ------------------------------------------------*/
/* -------------------------------------------------------------------------------------- Blog Starts*/
#Blogmain {
}
.Blogpost {
	padding:0px;
	margin:0px;
}
.Blogpost .heading {
	padding:0px;
	margin:0px;
}
.Blogpost h2 {
	margin-top:5px;
}
.Blogpost .pic {
}
.Blogpost .pic:hover {
	opacity:0.7;
	-ms-filter:"alpha(opacity=70)";
	filter:alpha(opacity=70);
}
.Blogpost .meta {
	width:100%;
	padding-bottom:8px;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#444444;
	margin-top:4px;
	margin-right:0px;
	margin-bottom:4px;
	margin-left:0px;
}
.Blogpost .bubble {
	background-image:url(../images/blog/bubble.png);
	background-repeat:no-repeat;
	height:30px;
	width:50px;
	padding-top:6px;
	padding-bottom:6px;
	text-align:center;
	color:#FFF;
}
.Blogpost a {
}
.Blogpost a:link {
}
.Blogpost a:active {
}
.Blogpost a:hover {
	text-decoration:none!important;
}
.Blogpost .shadow {
}
.Blogpost .description {
	overflow:auto;
	width:100%;
	padding-bottom:16px;
	margin-bottom:12px;
	margin-top:12px;
}
.Blogpost .date {
	background-image:url(../images/blog/date.png);
	background-repeat:no-repeat;
	padding-left:28px;
	padding-top:3px;
	padding-bottom:3px;
	margin-right:20px;
}
.Blogpost .postedby {
	background-image:url(../images/blog/posted-by.png);
	background-repeat:no-repeat;
	padding-left:24px;
	padding-top:3px;
	padding-bottom:3px;
	margin-right:20px;
}
.Blogpost .postedin {
	background-image:url(../images/blog/posted-in.png);
	background-repeat:no-repeat;
	padding-left:28px;
	padding-top:3px;
	padding-bottom:3px;
	margin-right:20px;
}
.Blogpost .comments {
	background-image:url(../images/blog/comment.png);
	background-repeat:no-repeat;
	padding-left:28px;
	padding-top:3px;
	padding-bottom:3px;
	margin-right:20px;
}
.Blogpost hr {
	overflow:auto;
	border-top-width:thin;
	border-top-style:solid;
	border-top-color:#ccc;
	margin-top:2px;
	margin-bottom:2px;
}
#blog {
}
#blog h3 {
	margin-top:2px;
	margin-bottom:8px;
	padding-top:2px;
	padding-bottom:8px;
}
#about-author {
	width:auto;
}
#about-author .pic {
	padding:2px;
	border:1px solid #CCC;
	height:100px;
	width:100px;
	background-color:#CCC;
	margin-right:10px;
	margin-bottom:10px;
}
#about-author .description {
	width:auto;
}
#post-comments {
	clear:both;
}
#post-comments .post {
}
#post-comments .pic {
	padding:2px;
	border:1px solid #CCC;
	height:60px;
	width:60px;
	background-color:#CCC;
	margin-right:10px;
	margin-bottom:10px;
}
#post-comments .info {
	width:auto;
	margin-bottom:3px;
}
#post-comments .description {
	width:auto;
}
#post-comments .reply1 {
	padding-left:10px;
	padding-bottom:1px;
}
#post-comments .reply2 {
	padding-left:20px;
	padding-bottom:1px;
}
#post-comments .reply3 {
	padding-left:30px;
	padding-bottom:1px;
}
#post-comments .reply4 {
	padding-left:40px;
	padding-bottom:1px;
}
#post-comments .reply5 {
	padding-left:50px;
	padding-bottom:1px;
}
#post-comments hr {
	overflow:auto;
	border-top-width:thin;
	border-top-style:solid;
	border-top-color:#ccc;
	margin-top:0px;
	margin-bottom:10px;
}
.f_none {
	float:none!important;
}
.f_left {
	float:left!important;
}
.f_right {
	float:right!important;
}
.clear {
	clear:both;
	margin:0px;
	padding:0px;
	height:0px;
}
.localnav {
	margin:0 0 20px 0;
	overflow:hidden;
}
.localnav li {
	float:left;
}
.localnav .ui-btn-inner {
	padding: .6em 10px;
}
/*--------------------------------------------------------------------------------------------*/
.ui-li-has-icon .ui-btn-inner a.ui-link-inherit,.ui-li-static.ui-li-has-icon {
	padding-left:50px;
}
.ui-li-icon {
	/*top:2px!important;
	opacity:0.7;
	*//*filter:alpha(opacity=70);
	*/ /* For IE8 and earlier */
}
.ui-listview-inset .ui-li {
	line-height:normal!important;
}
.ui-shadow {
	-moz-box-shadow:none!important;
	-webkit-box-shadow:none!important;
	box-shadow: none!important;
}
/*--------------------------------------------------- Data-Theme = a ---------------------------------------------------------------*/
.ui-bar-a {
	border:1px solid #393939;
	background:#1c1c1c;
	color:#ccc;
}
.ui-bar-a,.ui-bar-a input,.ui-bar-a select,.ui-bar-a textarea,.ui-bar-a button {
}
.ui-bar-a .ui-link-inherit {
	color:#fff
}
.ui-bar-a .ui-link {
	color:#7cc4e7;
	font-weight:bold
}
.ui-bar-a .ui-link:hover {
	color:#575757
}
.ui-bar-a .ui-link:active {
	color:#575757
}
.ui-bar-a .ui-link:visited {
	color: #575757
}
/*--------------------------------------------------- Page Background ---------------------------------------------------------------*/
.ui-body-a,.ui-dialog.ui-overlay-a {	
	background:#000;	
}
/*--------------------------------------------------- /Page Background ---------------------------------------------------------------*/
/*--------------------------------------------------- /Page Background ---------------------------------------------------------------*/
.ui-body-a,.ui-body-a input,.ui-body-a select,.ui-body-a textarea,.ui-body-a button {
}
.ui-body-a .ui-link-inherit {
	color:#fff;
}
.ui-body-a .ui-link {
	color:#ccc;
	font-weight:bold
}
.ui-body-a .ui-link:hover {
	color:#ccc
}
.ui-body-a .ui-link:active {
	color:#ccc
}
.ui-body-a .ui-link:visited {
	color: #ccc
}
/*--------------------------------------------------- /Data-Theme = a ---------------------------------------------------------------*/
/*--------------------------------------------------- /Home Page Buttons ---------------------------------------------------------------*/
.ui-btn-up-a {
	border:1px solid #242424;
	font-weight:bold;
	color:#fff;
	font-size:14px;
	text-decoration:none!important;
	background-color:#2b2e33;
	background-image:url(../images/bg-buttons.png);
}
.ui-btn-up-a h3 {
	color:#fff;
	font-size:16px;
	text-decoration:none!important;
	font-weight:normal!important;
}
.ui-btn-up-a a.ui-link-inherit {
	color:#fff;
}
.ui-btn-hover-a {
	border:1px solid #242424;
	background:#242424;
	font-weight:bold;
	color:#fff;
	font-size:14px;
	text-decoration:none!important;
}
.ui-btn-hover-a h3 {
	color:#fff;
	font-size:16px;
	text-decoration:none!important;
	font-weight:normal!important;
}
.ui-btn-hover-a a.ui-link-inherit {
	color:#fff
}
.ui-btn-down-a {
	border:1px solid #242424;
	background:#242424;
	font-weight:bold;
	color:#fff;
	font-size:14px;
	text-decoration:none!important;
}
.ui-btn-down-a a.ui-link-inherit {
	color:#fff
}
.ui-btn-up-a,.ui-btn-hover-a,.ui-btn-down-a {
	;
	text-decoration: none!important;
}
/*--------------------------------------------------- /Home Page Buttons ---------------------------------------------------------------*/
/*--------------------------------------------------- Header Inner Pages ---------------------------------------------------------------*/
.ui-header {
	background: #333;
}
/*--------------------------------------------------- /Header Inner Pages ---------------------------------------------------------------*/
/*--------------------------------------------------- Data-Theme = b ---------------------------------------------------------------*/
.ui-btn-up-b {
	border:1px solid #242424;
	font-weight:bold;
	color:#fff;
	font-size:14px;
	text-decoration:none!important;
	background-color:#2b2e33;
	background-image:url(../images/bg-buttons.png);
}
.ui-btn-up-b h3 {
	color:#fff;
	font-size:16px;
	text-decoration:none!important;
	font-weight:normal!important;
}
.ui-btn-up-b a.ui-link-inherit {
	color:#fff;
}
.ui-btn-hover-b {
	border:1px solid #242424;
	background:#242424;
	font-weight:bold;
	color:#fff;
	font-size:14px;
	text-decoration:none!important;
}
.ui-btn-hover-b h3 {
	color:#fff;
	font-size:16px;
	text-decoration:none!important;
	font-weight:normal!important;
}
.ui-btn-hover-b a.ui-link-inherit {
	color:#fff
}
.ui-btn-down-b {
	border:1px solid #242424;
	background:#242424;
	font-weight:bold;
	color:#fff;
	font-size:14px;
	text-decoration:none!important;
}
.ui-btn-down-b a.ui-link-inherit {
	color:#fff
}
.ui-btn-up-b,.ui-btn-hover-b,.ui-btn-down-b {
	;
	font-size:14px;
	text-decoration: none!important;
}
/*--------------------------------------------------- / Data-Theme = b---------------------------------------------------------------*/
/*--------------------------------------------------- Data-Theme = c ---------------------------------------------------------------*/
.ui-btn-up-c {
	border:1px solid #242424;
	font-weight:bold;
	color:#fff;
	font-size:14px;
	text-decoration:none!important;
	background-color:#2b2e33;
	background-image:url(../images/bg-buttons.png);
}
.ui-btn-up-c h3 {
	color:#fff;
	font-size:18px!important;
	text-decoration:none!important;
	font-weight:normal!important;
}
.ui-btn-up-c a.ui-link-inherit {
	color:#fff;
}
.ui-btn-hover-c {
	border:1px solid #242424;
	background:#242424;
	font-weight:bold;
	color:#fff;
	font-size:14px;
	text-decoration:none!important;
}
.ui-btn-hover-c h3 {
	color:#fff;
	font-size:18px!important;
	text-decoration:none!important;
	font-weight:normal!important;
}
.ui-btn-hover-c a.ui-link-inherit {
	color:#fff
}
.ui-btn-down-c {
	border:1px solid #242424;
	background:#242424;
	font-weight:bold;
	color:#fff;
	font-size:14px;
	text-decoration:none!important;
}
.ui-btn-down-c a.ui-link-inherit {
	color:#fff
}
.ui-btn-up-c,.ui-btn-hover-c,.ui-btn-down-c {
	;
	font-size:14px;
	text-decoration: none!important;
}
/*---------------------------------------------------/ Data-Theme = c---------------------------------------------------------------*/
.ui-block-a,.ui-block-b,.ui-block-c,.ui-block-d,.ui-block-e {
	color:#FFF;
	margin-top:10px;
	margin-bottom:10px;
}
.social-like .ui-block-a,.social-like .ui-block-b,.social-like .ui-block-c,.social-like .ui-block-d,.social-like .ui-block-e {
	color:#FFF;
	margin-top:0px!important;
	margin-bottom:14px!important;
}
.navigation {
	-moz-border-radius:4px 4px 4px 4px;
	-webkit-border-radius:4px 4px 4px 4px;
	-khtml-border-radius:4px 4px 4px 4px;
	border-radius:4px 4px 4px 4px;
	margin-top:8px;
	margin-right:8px;
	margin-bottom:0px;
	margin-left:8px;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#323437),to(#131416));
	background-image:-webkit-linear-gradient(#323437,#131416);
	background-image:-moz-linear-gradient(#323437,#131416);
	background-image:-ms-linear-gradient(#323437,#131416);
	background-image:-o-linear-gradient(#323437,#131416);
	background-image:linear-gradient(#323437,#131416);
	opacity:0.95;
	-ms-filter:"alpha(opacity=95)";
	filter:alpha(opacity=95);
	position:absolute;
	z-index:100;
	overflow:auto;
	width:276px;
	padding:12px;
	border:1px solid #323437;
	background-color:#323437;
}
.navigation ul {
	list-style-type:none;
	margin:0px;
	padding:0px;
}
.navigation ul li {
	color:#fff!important;
	text-decoration:none;
	font-weight:normal!important;
}
.navigation ul li a {
	color:#fff!important;
	text-decoration:none;
	font-weight:normal!important;
	font-size:12px;
}
.navigation ul li a:link {
	color:#fff!important;
	text-decoration:none;
}
.navigation ul li a:hover {
	color:#fff!important;
	text-decoration:none;
}
.navigation ul li a:active {
	color:#fff!important;
	text-decoration:none;
}
.navigation ul li:hover {
	color:#fff;
	text-decoration:none;
	opacity:0.9;
	-ms-filter:"alpha(opacity=9)";
	filter:alpha(opacity=9);
}
.social-like {
	margin-top:0px!important;
	margin-bottom:2px;
	text-align:center;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#444444;
}
#twitter {
	margin-bottom:6px;
	margin-top:6px;
}
#twitter ul {
	margin:0px;
	padding:0px;
	list-style-type:none;
	background-image:url(../images/box-bg.png);
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#444444;
}
#twitter ul li {
	padding-top:12px;
	padding-bottom:12px;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#444444;
	background-image:url(../images/twitter-icon.png);
	background-repeat:no-repeat;
	background-position:left 8px;
	padding-left:45px;
	margin:0px;
	height:auto;
	overflow:auto;
	padding-right:10px;
}
#twitter ul li:hover {
	background-color:#000;
}
#twitter ul li span a {
	float:none;
}
#twitter ul li a {
	color:#2b91b9;
	float:right;
}
#twitter ul li a:link {
	color:#2b91b9;
}
#twitter ul li a:hover {
	color:#2b91b9;
	text-decoration:none;
}
#twitter ul li a:active {
	color:#2b91b9;
}
ul#twitter_update_list {
}
table {
	width:100%;
	border:1px solid #CCC;
}
table caption {
	text-align:left;
}
table thead th {
	text-align:left;
	border-bottom-width:1px;
	border-top-width:1px;
}
table th,td {
	text-align:left;
	padding:6px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-right-style:solid;
	border-bottom-style:solid;
	border-right-color:#CCC;
	border-bottom-color: #CCC;
}
#scroll-to-top {
	text-align: center;
}
#scroll-to-top img{
	margin-right:0px;
}


/* for 320px or less */
@media only screen and (min-width:320px) {
	.navigation {
		width:279px;
		padding:12px;
	}
	#videogallery .col-1 {
		width:300px;
	}
	#videogallery .col-2 {
		width:300px;
	}
	
}
/* for 480px or less */
@media only screen and (min-width:480px) {
	.navigation {
		width:438px;
		padding:12px;
	}
	#i-text-blocks .col-1 {
		max-width:434px;
	}
	#i-text-blocks .col-2 {
		max-width:434px;
	}
	#aboutus .col-1 {
		max-width:440px;
	}
	#aboutus .col-2 {
		max-width:440px;
	}
	#services-overview .col-1 {
		max-width:440px;
	}
	#services-overview .col-2 {
		max-width:440px;
	}
	#gallery .col-1 {
		width:440px;
	}
	#gallery .col-2 {
		width:440px;
	}
	#videogallery .col-1 {
		width:440px;
	}
	#videogallery .col-2 {
		width:440px;
	}
	
}
/* for 768px or less */
@media only screen and (min-width:768px) {
	.navigation {
		width:726px;
		padding:12px;
	}
	#i-text-blocks .col-1 {
		max-width:351px;
	}
	#i-text-blocks .col-2 {
		max-width:351px;
	}
	#aboutus .col-1 {
		max-width:370px;
	}
	#aboutus .col-2 {
		max-width:370px;
	}
	#gallery .col-1 {
		width:370px;
	}
	#gallery .col-2 {
		width:370px;
	}
	#videogallery .col-1 {
		width:370px;
	}
	#videogallery .col-2 {
		width:370px;
	}
	#services-overview .col-1 {
		max-width:350px;
		margin-right:33px;
		margin-bottom:0px;
	}
	#services-overview .col-2 {
		max-width:360px;
	}
	
}