body {
	-webkit-text-size-adjust:none;
	background:#45494c url(../../images/menu/menuBg.png) top left repeat-y;
}
#social-icons {
	float:left;
	margin: 0px;
	height: 40px;
	padding-top: 15px;
	padding-right: 8px;
	padding-bottom: 0px;
	padding-left: 8px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#ccc;	
	background-color:#141517;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#323437), to(#141517));
	background-image:-webkit-linear-gradient(#323437, #141517);
	background-image:-moz-linear-gradient(#323437, #141517);
	background-image:-ms-linear-gradient(#323437, #141517);
	background-image:-o-linear-gradient(#323437, #141517);
	background-image:linear-gradient(#323437, #141517);
	width: 175px;
}
#social-icons ul {
	list-style-type:none;
	margin: 0px;
	padding: 0px;
}
#social-icons ul li {
	display:inline-block;
	margin: 0px;
	padding-top: 0px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 4px;
}
#social-icons ul li:hover {
	opacity:0.5;
	-ms-filter:"alpha(opacity=50)";
	filter:alpha(opacity=50);
}
#social-icons ul li img {
	border:0px !important;
}
#menu {
	width:175px;
	height:100%;
	display:block!important;
	float:left;
	border-top:solid #292d2f 1px;
}
#menu ul {
	margin:0;
	padding:0;
	width:inherit;
}
#menu ul li {
	list-style-type:none;
	margin:0;
}
#menu ul li span {
	float: left;
	margin-top: 0px;
	margin-right: 8px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#menu ul li a:link, #menu ul li a:visited {
	border-bottom:solid #292d2f 1px;
	box-shadow:0 1px 0 #5a5f63;
	color:#fff;
	text-decoration:none;
	width:165px;
	display:block;
	text-shadow:0 1px 1px #000;
	padding-top: 12px;
	padding-right: 0;
	padding-left: 10px;
	padding-bottom: 12px;
}
#menu ul li a:hover, #menu ul li a:active {
	background-color:#33373a;
}
.active {
	background-color:#292d2f;/*background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e1d1d), color-stop(21%, #383737));*/
}
